.card {
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.1);
  transition: all 0.25s ease;
  border: 1px solid #afc8d6;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(31, 46, 53, 0.15);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

